//COLORS - 对应设计图的颜色编号
$color-primary: #fadb14;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #ff4d4f;

$color-black-1: #00000029;

$color-page-background: #fafafa;
$color-grey-light-1: #eeeeee;
$color-grey-2: #bdbdbd;

$color-grey-dark: #686868;
$color-grey-light: #dddddd;
$color-grey-8: #595959;
$color-grey-servicePrice: #9f9f9f;
$color-grey-7: #707070;
$color-orange-1: #ffad3e;
$color-total-price: #ffad3e;
$color-card-detail: #8c8c8c;
$color-owner: #e6ca18;
$color-buy-button: #fadb14;
$color-button-title: #262626;
$color-active-chat: #f2f2f2;
$color-chater-background: #ededed;

//FONTSIZE
$font-size-6: 6px;
$font-size-8: 8px;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-25: 25px;
$font-size-28: 28px;

//FONTWEIGHT
$font-weight-200: 200;
$font-weight-400: 400;
$font-weight-600: 600;

//BORDER-RADIUS
$border-radius-4: 4px;
$border-radius-6: 6px;
$border-radius-8: 8px;

//BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1120px;

//old
// $color-grey-dark: #686868;
// $color-grey-light: #dddddd;
// $color-grey-smallText: #595959;
// $color-grey-servicePrice: #9f9f9f;
// $color-grey-7: #707070;
// $color-total-price: #ffad3e;
// $color-card-detail: #8c8c8c;
// $color-owner: #e6ca18;
// $color-buy-button: #fadb14;

// //FONTSIZE
// $font-size-nav: 18px;
// $font-size-xxlarge: 28px;
// $font-size-xlarge: 25px;
// $font-size-large: 20px;
// $font-size-medium: 14px;
// $font-size-15: 15px;
// $font-size-small: 12px;
// $font-size-product-price-small: 16px;
// $font-size-button: 22px;

// //MOBILE FONTSIZE
// $font-mb-xxxs: 6px;
// $font-mb-xxs: 8px;
// $font-mb-xs: 10px;
// $font-mb-s: 12px;
// $font-mb-m: 14px;
// $font-mb-l: 16px;
// $font-mb-xl: 20px;

// //FONTWEIGHT
// $font-weight-400:400;
// $font-weight-light:200;
// $font-weight-bold:600;
// $font-weight-bolder:900;

// //BORDER-RADIUS
// $border-radius-button:6px;
// $border-radius-container:8px;
