.empty-view-container {
  // margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .warning-message {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    // justify-content: center;
  }

  .dogy-img {
    width: 50%;
    height: 50%;
  }
}
