.record-shop-detail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-page-background;

  .record-shop-detail-inner-container {
    //display: flex;
    width: 52%;
    margin-top: 30px;
    flex-direction: column;

    .header-container {
      display: flex;
      background-color: white;
      border-radius: 8px;
      padding: 20px 30px;
    }

    .state-container {
      display: flex;
      background-color: white;
      border-radius: 8px;
      padding: 20px 30px;

      .state-title {
        font-size: 20px;
        color: $color-grey-8;
      }

      .state {
        font-size: 28px;
        font-weight: bold;
        color: $color-grey-8;
      }

      .state-button-font {
        font-size: 16px;
        color: #262626;
      }

      .state-message {
        font-size: 15px;
        color: $color-grey-servicePrice;
      }

      .info-row {
        display: flex;
        justify-content: space-between;
      }

      .text-align-end {
        text-align: end;
      }

      .contact-landloard-row {
        display: flex;
        flex-direction: row;
      }
    }
  }
  // .margin-right-30 {
  //   margin-right: 30px;
  // }
}
