.service-detail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5% 0%;
  background-color: $color-page-background;

  .service-detail {
    display: flex;
    width: 80%;

    @media only screen and (max-width: 1024px) {
      width: 90%;
    }

    @media only screen and (max-width: 767px) {
      width: 96%;
    }

    .service-detail-content {
      width: 70%;

      //mobile
      @media only screen and (max-width: 769px) {
        width: 100%;
      }

      .pageHeader-1 {
        width: 100%;
        background-color: white;
        padding: 2% 2%;
        border-radius: 10px;
        margin-bottom: 2%;
      }

      .title-text-xlarge {
        font-size: $font-size-22;
        font-weight: bold;
        color: $color-grey-7;

        //ipad
        @media only screen and (max-width: 1024px) {
          font-size: $font-size-18;
        }

        @media only screen and (max-width: 768px) {
          font-size: $font-size-14;
        }
      }

      .title-text-large {
        margin: 0 2%;
        font-size: $font-size-16;
        //ipad
        @media only screen and (max-width: 1024px) {
          font-size: $font-size-14;
        }
        //mobile
        @media only screen and (max-width: 768px) {
          font-size: $font-size-12;
        }
      }

      .favorite-button {
        font-size: 24px;
        color: $color-grey-light;

        @media only screen and (max-width: 768px) {
          font-size: 18px;
        }
      }

      .saved-favorite {
        font-size: 24px;
        color: $color-primary;

        @media only screen and (max-width: 768px) {
          font-size: 18px;
        }
      }

      .share-button {
        height: 24px;
        width: 24px;

        @media only screen and (max-width: 768px) {
          height: 18px;
          width: 18px;
        }
      }

      .pet-quantity-size {
        font-size: $font-size-22;
        color: $color-grey-7;
        //ipad
        @media only screen and (min-width: 769px) and (max-width: 1024px) {
          font-size: $font-size-16;
        }

        //mobile
        @media only screen and (min-width: 500px) and (max-width: 768px) {
          font-size: $font-size-14;
        }

        //mobile
        @media only screen and (max-width: 499px) {
          font-size: $font-size-12;
        }

        .quantity-section {
          margin-top: 1%;
          @media only screen and (max-width: 499px) {
            margin-top: 2%;
          }
        }
      }

      .detail-section {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1.5%;
        color: $color-grey-7;

        .detail-title-large {
          font-size: $font-size-25;
          font-weight: bold;
        }
        .detail-subtitle {
          display: flex;
          align-items: center;
          margin: 0 2%;
          font-size: $font-size-20;

          .star-container {
            height: 100%;
            font-size: $font-size-20;
            margin-right: 10px;
            color: $color-primary;
          }
        }

        //laptop
        @media only screen and(min-width: 769px) and (max-width: 1024px) {
          .detail-title-large {
            font-size: $font-size-22;
          }
          .detail-subtitle {
            font-size: $font-size-16;

            .star-container {
              font-size: $font-size-16;
            }
          }
        }

        //large-mobile
        @media only screen and (min-width: 500px) and (max-width: 768px) {
          .detail-title-large {
            font-size: $font-size-16;
          }
          .detail-subtitle {
            font-size: $font-size-14;

            .star-container {
              font-size: $font-size-14;
            }
          }
        }

        //small-mobile
        @media only screen and (max-width: 499px) {
          .detail-title-large {
            font-size: $font-size-16;
          }
          .detail-subtitle {
            font-size: $font-size-12;

            .star-container {
              font-size: $font-size-12;
            }
          }
        }
      }

      .check-icon {
        padding: 0 2%;
        font-size: $font-size-20;
        @media only screen and(min-width: 769px) and (max-width: 1024px) {
          font-size: $font-size-16;
        }
        @media only screen and(min-width: 500px) and (max-width: 768px) {
          font-size: $font-size-14;
        }
        @media only screen and (max-width: 499px) {
          font-size: $font-size-12;
        }
      }

      .detail-paragraph {
        font-size: $font-size-20;
        color: $color-grey-7;

        @media only screen and(min-width: 769px) and (max-width: 1024px) {
          font-size: $font-size-16;
        }
        @media only screen and(min-width: 500px) and (max-width: 768px) {
          font-size: $font-size-14;
        }
        @media only screen and (max-width: 499px) {
          font-size: $font-size-12;
        }
      }

      .name-primary-color {
        color: $color-primary;
      }

      .element-color-grey {
        color: $color-grey-7;
        font-size: $font-size-20;
        @media only screen and(min-width: 769px) and (max-width: 1024px) {
          font-size: $font-size-16;
        }
        @media only screen and(min-width: 500px) and (max-width: 768px) {
          font-size: $font-size-14;
        }
        @media only screen and (max-width: 499px) {
          font-size: $font-size-12;
        }
      }

      .map-container {
        width: 100%;
        height: 450px;

        @media only screen and(min-width: 769px) and (max-width: 1024px) {
          height: 300px;
        }
        @media only screen and(min-width: 500px) and (max-width: 768px) {
          height: 225px;
        }
        @media only screen and (max-width: 499px) {
          height: 180px;
        }
      }

      .fix-component {
        display: none;

        @media only screen and (max-width: 768px) {
          display: flex;
          position: fixed;
          height: 100px;
          width: 100%;
          bottom: 0pt;
          left: 0pt;
          background-color: white;

          .title-box {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .button-box {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .modal-button {
            }
          }
        }
      }
    }

    .service-detail-calculator {
      width: 30%;
      padding-left: 2%;

      .service-detail-calculator-inner {
        position: sticky;
        top: 0;
        right: 0;
        border-radius: 10px;
        background-color: $color-white;
        padding: 10px;
        margin-bottom: 25px;

        .owner-section {
          display: flex;
          align-items: flex-end;

          .animal-type {
            font-size: $font-size-20;
            padding-right: 4%;
            font-weight: 500;
          }

          .owner-type {
            font-size: $font-size-14;
          }

          .owner-color {
            color: $color-owner;
          }
          //ipad
          @media only screen and (min-width: 769px) and (max-width: 1024px) {
            .animal-type {
              font-size: $font-size-16;
              padding-right: 4%;
              font-weight: 400;
            }

            .owner-type {
              font-size: $font-size-10;
            }
          }
        }

        .location-section {
          display: flex;
          margin-top: 2.5%;
          justify-content: space-between;
          font-size: $font-size-18;
          color: $color-grey-8;

          .star-review-section {
            display: flex;
            align-items: center;

            .location-star {
              font-size: $font-size-20;
              padding-right: 10px;
              color: $color-primary;
            }
          }
          //ipad
          @media only screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: 13px;

            .star-review-section {
              .location-star {
                font-size: $font-size-14;
                color: $color-primary;
                padding-right: 0px;
              }
              .review-number {
                font-size: $font-size-10;
              }
            }
          }
        }

        .calculator-inner {
          display: flex;

          .price-calculator-main-wrapper {
            padding: 0% 2%;
            width: 100%;

            .calculate-title {
              font-size: $font-size-14;
              color: $color-grey-8;
            }
            .warning-small {
              font-size: $font-size-14;
              color: $color-grey-7;
            }

            .service-calculate-price-text {
              font-size: $font-size-20;
              color: $color-grey-servicePrice;
            }

            .total-price-text {
              color: $color-total-price;
              font-size: $font-size-25;
            }

            .line-padding-top {
              padding-top: 4%;
            }

            .line-padding-top {
              padding-top: 4%;
            }

            .line-padding-bottom {
              padding-bottom: 4%;
            }

            .animal-type-section {
              display: flex;
              justify-content: space-between;
            }

            .reserve-button {
              width: 100%;
              height: 6%;
              background-color: $color-primary;
            }

            .warning-text-container {
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .rangepicker-size {
              padding: 6.5px 11px 6.5px;
            }

            .ant-calendar-picker-clear {
              opacity: 10;
            }

            .input-number-size {
              width: 18%;
            }

            @media only screen and (min-width: 769px) and (max-width: 1024px) {
              .calculate-title {
                font-size: $font-size-12;
              }
              .rangepicker-size {
                padding: 0px 7px 0px;
              }
              .line-padding-top {
                padding-top: 6%;
              }

              .font-size-20 {
                font-size: 13px;
              }

              .calculate-title {
                font-size: $font-size-10;
              }

              .input-number-size {
                width: 60px;
              }

              .reserve-button {
                height: 4.5%;
                font-size: 12px;
              }

              .warning-small {
                font-size: $font-size-10;
              }

              .service-calculate-price-text {
                font-size: $font-size-16;
              }

              .total-price-text {
                font-size: $font-size-20;
              }
            }
          }
        }
      }
      //mobile
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .margin-right-30 {
    margin-right: 30px;
  }
}

.align-text-center {
  text-align: center;
}
